%h1= @page_title="Edit profile"
= simple_form_for @user, html:{multipart: true} do |f|
  = f.input :email,   label: false, placeholder: "E-mail"
  = f.input :fullname,  label: false, placeholder: "Fullname"
  = f.input :status,  label: false, placeholder: "Status"
  = f.input :about,  label: false, placeholder: "About"
  = f.file_field :avatar, name: "user[avatar]"
  = f.submit "Save", class: "btn btn-default"

%div#image