%div.container-fluid
  %div.col-sm-3
    = image_tag @user.avatar
    %p= link_to "Edit profile", edit_user_path if can_edit_profile?
    %p= link_to "New post", new_post_path
  %div.col-sm-8
    %h2= @user.username
    = @user.rating
    %p= @user.status if @user.status
  %div.col-sm-12
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", href:"#profile"} Profile
      %li
        %a{"data-toggle" => "tab", href:"#posts"} Posts
      %li
        %a{"data-toggle" => "tab", href: "#comments"} Comments
      %li
        %a{"data-toggle" => "tab", href: "#bookmarks"} Bookmarks
    %div.tab-content
      %div#profile.tab-pane.fade.in.active
        %p= "Fullname: #{@user.fullname}" if @user.fullname?
        %p= "Email: #{@user.email}"
        %p= @user.role.title.capitalize
        %p= @user.about
      %div#posts.tab-pane.fade
        - if @user.posts.count.nonzero?
          - @user.posts.each do |post|
            = link_to post.title, post
            %br
        - else
          %h3 Не добавлено ни одной новости!
      %div#comments.tab-pane.fade
        - if @user.comments.count.nonzero?
          - @user.comments.each do |comment|
            = link_to comment.body, comment.post
            %br
        - else
          %h3 Комментарии отсутствуют!
      %div#bookmarks.tab-pane.fade
        - if @user.bookmark.count.nonzero?
          - @user.bookmark.each do |bookmark|
            = link_to bookmark.post.title, bookmark.post 
            %br