- @post.each do |post|
  %span.plus{data:{post_id:"#{post.id}"}}= fa_icon "plus-circle"
  = post.rating
  %span.minus{data:{post_id:"#{post.id}"}}= fa_icon "minus-circle"
  = link_to post.title, post
  %span.bookmark{data:{post_id:"#{post.id}"}}= fa_icon "floppy-o"
  %br