%button#bbc{type:"button", value:"b",       onClick:"wrapText('body', '0' )"} b
%button#bbc{type:"button", value:"u",       onClick:"wrapText('body', '1' )"} u
%button#bbc{type:"button", value:"i",       onClick:"wrapText('body', '2' )"} i
%button#bbc{type:"button", value:"img",     onClick:"wrapText('body', '3' )"} Img
%button#bbc{type:"button", value:"s",       onClick:"wrapText('body', '4' )"} s
%button#bbc{type:"button", value:"code",    onClick:"wrapText('body', '5' )"} code
%button#bbc{type:"button", value:"quote",   onClick:"wrapText('body', '6' )"} quote
%button#bbc{type:"button", value:"url",     onClick:"wrapText('body', '7' )"} url
%button#bbc{type:"button", value:"youtube", onClick:"wrapText('body', '8' )"} youtube
%button#bbc{type:"button", value:"gvideo",  onClick:"wrapText('body', '9' )"} gvideo
%button#bbc{type:"button", value:"vimeo",   onClick:"wrapText('body', '10')"} vimeo
%button#bbc{type:"button", value:"email",   onClick:"wrapText('body', '11')"} email
%button#bbc{type:"button", value:"left",    onClick:"wrapText('body', '12')"} left
%button#bbc{type:"button", value:"center",  onClick:"wrapText('body', '13')"} center
%button#bbc{type:"button", value:"right",   onClick:"wrapText('body', '14')"} right
%button#bbc{type:"button", value:"br",      onClick:"wrapText('body', '15')"} br