%h1= @page_title="Edit post"
= simple_form_for @post, html:{multipart: true} do |f|
  = render partial: 'form', locals: {f: f}
  = f.submit "Save", class: "btn btn-default"

= render partial: 'upload'

%div#img_thumb
  - @post.images.each do |image|
    = link_to "Удалить", image_path(image), remote: true, method: :delete, data: {confirm: "Уверен?"}
    = image.id
    = link_to image.title.url do  
      = image_tag(image.title.thumb.url)
  
%div#image