%h1 Add new post
%section
  = simple_form_for @post, html:{multipart: true} do |f|
    = render partial: 'form', locals: {f: f}
    = f.hidden_field :image_ids, value: nil
    = f.submit "Add"
= render partial: 'upload'

- if @images
  %div#img_thumb
    - @images.each do |image|
      = link_to "Удалить", image_path(image), remote: true, method: :delete, data: {confirm: "Уверен?"}
      = image.id
      = link_to image.title.url do  
        = image_tag(image.title.thumb.url)

%div#image 