%h2= @post.title
- if current_user
  %h5.edit
    = link_to "Удалить", post_path(@post), method: :delete, data: {confirm: "Уверн?"} if can_delete_posts?
    = link_to "Редактировать", edit_post_path(@post) if can_edit_posts?
%article= "#{@post.body}".bbcode_to_html.html_safe
%div.info
  %h6
    = fa_icon "user-o", text: "Author: "
    = link_to @post.user.username, @post.user
  %h6= fa_icon "eye", text: "Views: #{@post.views}" 


%div
  = render partial: "comments/new", locals: {post: @post}
  = render partial: "comments/show", locals: {post: @post} 