// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

article {
  border: solid #d2d2d2 1px;
  padding: 10px;
  border-radius: 3px;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #fbfbfb;
}

img {
  margin: 10px 0;
  border: solid black 10px;
  max-width: 100%;
}

h5 a.edit {
  color: white;
  &:hover {color: #337ab7;}
}