%html
  %head
    %title  #{@page_title} | Optiday.com
    = stylesheet_link_tag     'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag  'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tag
  %body.container
    %header.col-lg-12
      %div.notice=          notice
      / %div.alert=           alert
      %div=           alert
      %div.successMessage=  flash[:success]
      %div.errorMessage=    flash[:error]
      %nav
        %ul.nav
          %li.col-lg-2.text-center= link_to "Home", root_path
          %li.col-lg-2.text-center= link_to "About", "/"
          %li.col-lg-2.text-center= link_to "Contacts", "/"
    %section.col-lg-8.col-lg-offset-2
      = yield
    %footer.col-lg-10
      - unless user_signed_in?
        = link_to "Sign in", new_user_session_path
      - else
        = link_to current_user.email, current_user 
        = link_to "Sign out", destroy_user_session_path, method: :delete